html,
body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

h3 {
    text-transform: uppercase;
    color: #41464B;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #64707B;
}

#home {
    height: 100%;
}

#home-cover {
    width:100%;
    height: 100vh;
    background-color: #f2e9ee;
    display: flex; 
}

#home-heading {
margin-top: 20rem;
align-items: center;
margin-left: 100px;
padding: 10px 50px ;
letter-spacing: 0.1rem;
}
#home-heading h3 {
    color: #000;
    font-size: 10px;
    font-weight: 700;
}
.main-content-box{
    display: flex;
    background-color: #f2e9ee;
}
.main-img{
    width: 100%;
    object-fit: cover;
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    padding: 50px 50px;
    min-width: 400px;
}
#home-heading h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-top:-10px; 

}
#home-heading h4 {
    color: #AB439A;
    font-family: 'Mr Dafoe', cursive;
    font-size: 24px;
    font-weight: 700;
    margin-top:-10px; 
}
.bg-parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*For Parallex effect*/
    background-attachment: fixed;

}

/*
            ANIMATE
*/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}


/*media queries */
@media only screen and (max-width: 767px) {
    body {
      width: 100%;
      height: auto;
      margin: 0;
    }
#home-cover .main-content-box{
    padding: 5px 10px;
    display: grid;
    height: 100vh;
 background-color: #e39bad;
}
#home-cover .main-content-box main-img{
    height: 100%;
    object-fit: cover;
}
#home-cover .main-content-box #home-heading{
    margin-top: 10px;
}
}
/*          CONTENT (GENERIC)
*/
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34C6D3;
    margin: 0 auto 30px;
}

/*          SERVICES
*/

.service-item {
    width: 100%;
    padding: 10px;
}



.service-item:hover {
    
    background-color:rgba(165, 245, 166, 0.9);
    color: #fff;
}

.service-item-header h3{
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}
.service-item #text-rose h3{
    text-transform: uppercase;
    font-weight: 600;
    color: #E21394;
    margin: 0;    

}
.service-item #green h3{
    color: #56A44F;
    font-weight: 600;
    margin: 0;
}
.service-item-text p {
    margin: 0;
    padding-left: 35px;
}


#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc {
    margin-bottom: 30px;
}

#about-bg-diagnol {
    float: right;
    width: 60%;
    height: 700px;
    background-image: url(../img/bg-about.jpg);
    border-top: 700px solid transparent;
    border-left: 200px solid white;
}

/*          WORK
*/
.row.no-gutters [class*="col-"] {
    padding: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper:hover img {
    transform: scale(1.5);
    cursor: zoom-in;
}

/*          TEAM
*/
.team-member {
    margin: 0 15px;
}

.team-member-info {

    padding: 20px 0 30px 0;
}
.team-member-name {
    font-size: 22px;
    font-weight: 700;
    color: #41464B;
    letter-spacing: 2px;
    padding-top: 5px;
}

.team-member-designation {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
    color: #34C6D3;
    margin-top: 5px;
}

/*            SOCIAL (GENERIC)
*/
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-grey i {
    color: #64707B;
}

.icon-white i {
    color: #fff;
}

.social-icon:hover i {
    color: #34C6D3;
}


/*          STATS   
*/
#stats-cover {
    background-image: url(../img/bg-stats.jpg);
}

#stats-cover .content-box {
    background-color: rgba(0, 0, 0, 0.9);
}

.stats-box {
    padding: 60px 0;
}

.stat-box i {
    color: #34C6D3;
}

.stat-box h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0 1px 0;
}

.stat-box p {
    color: #34C6D3;
    font-weight: 400;
    padding: 2px 0;
    letter-spacing: 1px;
}

#client img {
    max-width: 300px;
}

#client {
    padding: 30px 0;
}

/*
            CONTACT   
*/
footer {
    background-color: #41464B;
    padding: 20px 0 10px 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.contact-heading {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-main-left p {
    color: #fff;
    margin-bottom: 20px;
}

#contact-add {
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}



/*          Footer   
*/
#footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 20px;
}

#footer-copyright p {
    color: #fff;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
}

#footer-menu {
    float: left;
}

#footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
    color: #fff;
}

#footer-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 0 10px;
}

#footer-menu a:hover {
    color: #34C6D3;
}
.footer-links{
    padding: 20px 10px;
}
.newslinkbox{
    margin: 10px 20px;
}
a.newslinkcss{
color: #fff;
padding-bottom: 20px;
}


/*          HEADER-NAVIGATION   
*/

.navbar{
    padding: 20px 0;  
    transition: all .5s ease-in-out;    
    width: 100%; 
}

.obrn-nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.nav-wrapper {
    padding: 0 85px;
}

#nav-menu {
    float: right;
}

#nav-menu a {
    color: #93b1be;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#nav-menu a:hover,
#nav-menu a:focus {
    color: #e39bad;
    background: none;
}

.navbar-toggle {
    border: 1px solid #503b58;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1)
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

#nav-menu li.active>a{
    color: #A74196;
}





